extends layout

block scripts
  script(src='/javascripts/config.js' type='text/javascript')
  script(src='/javascripts/api.js' type='text/javascript')
  script(src='/javascripts/update_film.js' type='text/javascript')

block style
  link(rel='stylesheet' href='https://unpkg.com/tabulator-tables@4.1.4/dist/css/tabulator.min.css')

block content
  h1= title
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

  div.container
    div.row
      //- Login section
      div.col
        h2 Login
        div
          div.form-group
            label(for="username") Username
            input#username(type='text', name="username")
        button(onclick="return API.login();") Login
        div#login-success.alert.alert-success(role="alert" style="display:none")
        div#login-failure.alert.alert-danger(role="alert" style="display:none")
    div.row
      //- Update Film Rating Section
      div.col
        h2 Update Film
        div
          div.form-group
            input#id(type='text', name='id', hidden=true, value=filmID)
          div.form-group
            label(for="name") Name
            input#name(type='text', name='name')
          div.form-group
            label(for="rating") Rating
            select#rating(type='select')
              option(value=1) 1 ★
              option(value=2) 2 ★★
              option(value=3) 3 ★★★
              option(value=4) 4 ★★★★
              option(value=5) 5 ★★★★★
          button(onclick="return API.updateFilm();") Submit 
          div#submission-success.alert.alert-success(role="alert" style="display:none")
          div#submission-failure.alert.alert-danger(role="alert" style="display:none")
